.logo {
  display: inline-block;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: inherit;

  @media screen and (max-width: 480px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.logo__text,
.logo__text-footer {
  color: $accent-color;
}

.logo__footer {
  // margin-bottom: 20px;
  padding: 0;
  color: $third-color-text;
}
