.advantage {
  @extend %section;

  @media screen and (max-width: 1199px) {
    @include section(60px, 60px);
  }
  @media screen and (min-width: 1200px) {
    @include section(94px, 94px);
  }
}

.advantage-list {
  @extend %list;
  @media screen and (min-width: 768px) {
    @include list(wrap, 30px, 30px);
  }
}

.advantage-list__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    @include item(30px, 30px, 2, 30px);
  }

  @media screen and (min-width: 1200px) {
    @include item(30px, 30px, 4, 30px);
  }
}

.advantage-list__icon {
  @include flex(flex, center, center, null, null);
  height: 120px;
  margin-bottom: 30px;

  background-color: $section-bg;
  border-radius: 4px;
}

.advantage-list__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and (max-width: 480px) {
    text-align: center;
  }
}

.advantage-list__text {
  font-size: 14px;
  line-height: 1.71;
  color: $secondary-color-text;
}
