.clients {
  @media screen and (max-width: 1199px) {
    @include section(60px, 60px);
  }

  @media screen and (min-width: 1200px) {
    @include section(94px, 94px);
  }
}

.clients__title {
  @extend %title;
  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }
}

.clients-list {
  @extend %list;
  @include list(wrap, 15px, 15px);

  @media screen and (min-width: 768px) {
    @include list(wrap, 15px, 15px);
  }
  @media screen and (min-width: 1200px) {
    @include list(wrap, 30px, 30px);
  }
}

.clients-list__item {
  @media screen and (max-width: 767px) {
    @include item(15px, 15px, 2, 15px);
  }

  @media screen and (min-width: 768px) {
    @include item(15px, 15px, 3, 15px);
  }
  @media screen and (min-width: 1200px) {
    @include item(30px, 30px, 6, 30px);
  }
}

.clients-list__link {
  @include flex(flex, center, center, null, null);
  height: 94px;

  color: $primary-icon-color;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $accent-color;
    color: $accent-color;
  }
}

.clients-list__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
