.persons {
  @extend %section;
  background-color: $section-bg;

  @media screen and (max-width: 1199px) {
    @include section(60px, 60px);
  }
}

.persons__title {
  @extend %title;
  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }
}

.persons-list {
  @extend %list;
  @media screen and (min-width: 768px) {
    @include list(wrap, 30px, 30px);
  }
}

.persons-list__item {
  background-color: $third-color-text;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    @include item(30px, 30px, 2, 30px);
  }

  @media screen and (min-width: 1200px) {
    @include item(30px, 30px, 4, 30px);
  }
}

.person-meta {
  height: 168px;
  @include flex(flex, center, center, column, null);

  @media screen and (min-width: 1200px) {
    max-width: 270px;
  }
}

.person-meta__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.person-meta__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  color: $secondary-color-text;
}
