.contact-list {
  @extend %list;
  margin-left: auto;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1119px) {
    @include flex(flex, null, null, column, null);
    @include section(21px, 21px);
  }

  @media screen and (min-width: 1200px) {
    @include flex(flex, null, null, null, null);
    @include section(32px, 32px);
  }
}

.contact-list__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.contact-list__link {
  @extend %link;
  display: flex;
  align-items: center;
  // padding-top: 32px;
  // padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include font(null, 14px, 500, 1.14, 0.02em, $secondary-color-text);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
// @media screen and (min-width: 768px) {
//   &:not(:last-child) {
//   margin-right: 10px;
// }
// }

.contact-list__icon {
  margin-right: 10px;
  fill: currentColor;
}
