.logo {
  display: inline-block;
  text-decoration: none;

  @include font(Raleway, 26px, 700, 1.19, null, inherit);

  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @media screen and (min-width: 768px) {
    @include font(Raleway, 24px, 700, 1.16, null, inherit);
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.logo__text,
.logo__text-footer {
  color: $accent-color;
}

.logo__footer {
  margin-bottom: 20px;
  padding: 0;
  color: $third-color-text;
}
