.site-nav__list {
  @extend %list;
  display: flex;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (max-width: 1199px) {
    margin-left: 88px;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  @extend %link;
  position: relative;
  padding-top: 32px;
  padding-bottom: 33px;

  @include font(null, 14px, 500, 1.14, 0.02em, inherit);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.site-nav__link--active {
  color: $accent-color;

  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;

    background-color: $accent-color;
    border-radius: 4px;
  }
}
