.page-footer {
  background-color: $primary-bg-color;
  @include section(60px, 60px);
}

.page-footer__container {
  @media screen and (min-width: 768px) {
    @include flex(flex, baseline, space-around, null, wrap);
  }
}

.footer__social {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.footer__title {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: $third-color-text;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
