%list {
  margin: 0;
  padding: 0;
  list-style: none;
}

%link {
  display: block;
  text-decoration: none;
}

%btn {
  display: inline-block;
  cursor: pointer;
  border: none;
  color: var(--main-color-title);
  font-family: inherit;
}

%img {
  display: block;
  max-width: 100%;
  height: auto;
}

%title {
  font-weight: 700;
  text-align: center;
  font-size: 36px;
  line-height: 1.16;

  @media screen and (max-width: 480px) {
    font-size: 28px;
    line-height: 1.17;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

%section {
  @media screen and (max-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
