$primary-color-text: #212121;
$secondary-color-text: #757575;
$third-color-text: #ffffff;
$primary-logo-text: #000000;
$primary-icon-color: #afb1b8;
$accent-color: #2196f3;
$primary-bg-color: #2f303a;
$section-bg: #f5f4fa;
$bg-button: #188ce8;
